.wrap {
  justify-items: center;
  align-content: center;
  display: grid;
  padding: 20px;

  & p {
    color: white;
    font-size: x-large;
    font-weight: bold;
  }
  & input {
    width: 260px;
    height: 30px;
  }
}
