.container {
  background-image: url(../../img/Depositphotos_124780260_S-1-1.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  animation: glow-border 2s infinite;
}

.Form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  padding: 20px;
  gap: 10px;
  background-color: rgba(130, 133, 134, 0.484);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(245, 108, 163, 0.2);
  animation: glow-border 2s infinite;
  animation: fadeIn 1s ease-in-out;
  transition: transform 0.3s ease;
}

@keyframes glow-border {
  0% {
    border-color: rgba(100, 108, 255, 0.2);
    box-shadow: 0 0 10px rgba(100, 108, 255, 0.3);
  }
  50% {
    border-color: rgba(234, 115, 181, 0.8);
    box-shadow: 0 0 20px rgba(221, 240, 163, 0.8);
  }
  100% {
    border-color: rgba(100, 108, 255, 0.2);
    box-shadow: 0 0 10px rgba(100, 108, 255, 0.3);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.label {
  align-content: baseline;
  text-align: start;
  color: #3d1515;
  font-weight: bold;
}

input {
  height: 30px;
  border-radius: 8px;
}

.button {
  display: flex;
  flex-wrap: nowrap;
  width: 140px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: pulse 1.5s infinite;
}
.button:hover {
  color: rgb(187, 7, 7);
  background: rgb(192, 175, 175);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(100, 108, 255, 0.6);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(100, 108, 255, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(100, 108, 255, 0.6);
  }
}
